venv/
src/__pycache__/
src/computer_vision/archive.zip
src/computer_vision/Multi-class Weather Dataset
yolov8x.pt
apikeys.txt
src/computer_vision/__pycache__/
src/computer_vision/tests/test2/predict*
trainedModel.h5